@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
   --cor1: #16498C;
   --cor2: #024059;
   --cor3: #025E73;
   --cor4: #037F8C;
   --cor5: #F2F2F2;

   --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
   --fonte-destaque: 'Bebas neue';
   --fonte-android: 'Android';

}
*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color:var(--cor5);
    font-family:var(--fonte-padrao) ;
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    min-height: 150px;
    text-align: center;
}
header > p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
    padding-bottom: 50px;

}

header > h1{
    color:white;
    font-family: var(--fonte-destaque) ;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
    font-weight: normal;
}
nav{
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.39);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}
nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor1);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
}
div.video{
    background-color: var(--cor3);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: var(--cor1);
    font-family: var(--fonte-android) ;
    font-weight: normal;
}
main h2 {
    color: var(--cor2);
    font-family: var(--fonte-android) ;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1em;
}
main strong{
    color: var(--cor1);
    font-weight: bolder;
    padding: 2px 6px;
    
}
main a{
    background-color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
aside{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}
aside > ul{
    list-style-type: "\2714 \00A0 \00A0";
    list-style-position: inside;
    columns: 2;
}
aside > h3{
background-color: var(--cor2);
color: var(--cor5);
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}